* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  line-height: 1.5rem;
  color: #212529;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.addTaskBlock {
  width: 500px;
  padding: 10px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: .25rem;
}

.addTaskBlock__addTaskForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 150px;
  margin-top: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.addTaskBlock__addTaskForm input {
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.addTaskBlock__addTaskForm button {
  width: 100px;
  color: #fff;
  padding: 10px 0;
  outline: none;
  border-radius: 10px;
  border: none;
  background-color: #007bff;
  border-color: #007bff;
  cursor: pointer;
}

.taskListBlock__taskList {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.taskListBlock__taskList .taskItem {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-top: 5px;
}

.taskListBlock__taskList .taskItem span {
  font-weight: bold;
}

.taskListBlock__taskList .taskItem .deleteTaskBtn {
  margin-left: auto;
  float: right;
  cursor: pointer;
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  text-align: center;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out,box-shadow .15s ease-in-out, -webkit-box-shadow .15s ease-in-out;
}

.taskListBlock__taskList .taskItem .taskDescription {
  margin-top: 5px;
}
/*# sourceMappingURL=style.css.map */